/* Home */

/* Slider Image */
.slider{
   width: 100%;
   height: 88vh;
   overflow: hidden;
   margin-top: 80px;
   position: relative;
}
@media (max-width: 768px){
   .slider{
      width: 100%;
      height: 88vh;
      overflow: hidden;
      position: relative;
   }
}
.slider .list .item{
   position: absolute;
   inset: 0 0 0 0;
}
.slider .list .item img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.slider .list .item .detail{
   position: absolute;
   top: 10%;
   width: 1200px;
   max-width: 80%;
   margin: auto;
   left: 50%;
   transform: translateX(-50%);
}
.slider .list .item .detail .title{
   font-size: 1.2rem;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.5rem;
   margin-bottom: 0.9rem;
}
@media (max-width: 768px){
   .slider .list .item .detail .title{
      font-size: 1rem;
      letter-spacing: 0.3rem;
      margin-bottom: 0.5rem;
   }
}

.slider .list .item .detail .name{
   font-weight: 900;
   text-transform: uppercase;
   font-size: 3.5rem;
   letter-spacing: 0.3rem;
   line-height: 3rem;
   margin-bottom: 0.5rem;
   background: linear-gradient(#1034a6 ,#111827);
   background-clip: text;
   color: transparent;
   text-shadow: none;
}
@media (max-width: 768px){
   .slider .list .item .detail .name{
      font-weight: 900;
      font-size: 1.7rem;
      letter-spacing: 0.2rem;
      line-height: 2rem;
      margin-bottom: 0.3rem;
   }
}

.slider .list .item .detail figure{
   display: flex;
   align-items: center;
   gap: 0.5rem;
}
.slider .list .item .detail figure figcaption{
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: 900;
   letter-spacing: 0.1rem;
   text-shadow: 1px 1px 2px #fff;
}
@media (max-width: 768px){
   .slider .list .item .detail figure figcaption{
      font-size: 0.7rem;
      letter-spacing: 0.1rem;
   }
}

.slider .list .item .detail .desc{
   margin-top: 1rem;
   font-weight: 700;
   font-size: 1rem;
   max-width: 40rem;
}
.slider .list .item .detail .more{
   display: inline-block;
   margin-top: 1.4rem;
   text-decoration: none;
   background-color: #fff;
   color: #000;
   padding: 0.4rem 0.6rem;
   border-radius: 0.3rem;
   text-shadow: none;
   font-size: 1rem;
}
.slider .list .item .detail .more:hover{
   color: #fff;
   background-color: #1034a6;
}
@media (max-width: 768px) {
   .slider .list .item .detail .desc{
      font-size: 0.8rem;
   }
   .slider .list .item .detail .more{
      display: inline-block;
      margin-top: 0.5rem;
      text-decoration: none;
      background-color: #fff;
      color: #000;
      padding: 0.3rem 0.6rem;
      border-radius: 0.3rem;
      text-shadow: none;
      font-size: 0.6rem;
   }
}


/* Thumbnail */
.thumbnail{
   position: absolute;
   bottom: 20px;
   left: 55%;
   width: max-content;
   z-index: 888;
   display: flex;
   gap: 10px;
}
.thumbnail .item{
   width: 150px;
   height: 250px;
   flex-shrink: 0;
   position: relative;
}
.thumbnail .item img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 15px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.thumbnail .item .detail{
   position: absolute;
   bottom: 15px;
   left: 10px;
   right: 10px;
   color: #fff;
   font-weight: 700;
   font-size: 1.2rem;
   text-align: left;
   margin-right: 3px;
   margin-bottom: 3px;
   text-shadow: 1px 1px 1px #000;
}
@media (max-width: 768px) {
   .thumbnail{
      position: absolute;
      bottom: 50px;
      left: 40%;
      width: max-content;
      z-index: 888;
      display: flex;
      gap: 8px;
   }
   .thumbnail .item{
      width: 100px;
      height: 160px;
      flex-shrink: 0;
      position: relative;
   }
   .thumbnail .item img{
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 1);
   }
   .thumbnail .item .detail{
      position: absolute;
      bottom: 15px;
      left: 10px;
      right: 10px;
      color: #fff;
      font-weight: 700;
      font-size: 0.8rem;
      text-align: left;
      margin-right: 3px;
      margin-bottom: 3px;
      text-shadow: 0 0 2px #000;
   }
}


/* Arrows */
.arrows{
   position: absolute;
   top: 75%;
   right: 55%;
   width: 300px;
   max-width: 30%;
   display: flex;
   align-items: center;
   gap: 0.8rem;
}
.arrows p{
   margin-top: -4px;
   font-weight: 900;
}
.arrows button{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   box-shadow: 1px 1px 1px #000;
   font-family: monospace;
   color: #1034a6;
   cursor: pointer;
   z-index: 100;
   transition: 0.3s;
}
.arrows button:hover{
   background-color: #1034a6;
   color: #fff;
}
@media (max-width: 768px) {
   .arrows{
      position: absolute;
      top: 75%;
      right: 55%;
      width: 300px;
      max-width: 30%;
      display: flex;
      align-items: center;
      gap: 0.8rem;
   }
   .arrows p{
      margin-top: 0;
      font-weight: 900;
   }
   .arrows button{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      box-shadow: 1px 1px 1px #000;
      font-family: monospace;
      color: #1034a6;
      cursor: pointer;
      z-index: 100;
      transition: 0.3s;
   }
}


/* Animation */
.slider .list .item:nth-child(1){
   z-index: 1;
}
.slider .list .item:nth-child(1) .title,
.slider .list .item:nth-child(1) .name,
.slider .list .item:nth-child(1) figure,
.slider .list .item:nth-child(1) .desc,
.slider .list .item:nth-child(1) .more {
   transform: translateY(50px);
   filter: blur(50px);
   opacity: 0;
   animation: showDetail 0.5s 1s linear 1 forwards;
}
@keyframes showDetail{
   to {
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
   }
}
.slider .list .item:nth-child(1) .name{
   animation-delay: 2s;
}
.slider .list .item:nth-child(1) figure{
   animation-delay: 2.5s;
}
.slider .list .item:nth-child(1) .desc{
   animation-delay: 3s;
}
.slider .list .item:nth-child(1) .more{
   animation-delay: 3.5s;
}


/* Action Next */
.slider.next .list .item:nth-child(1) > img{
   width: 150px;
   height: 250px;
   position: absolute;
   left: 55%;
   bottom: 20px;
   border-radius: 15px;
   animation: growImage 0.5s linear 1 forwards;
}
@keyframes growImage{
   to {
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      border-radius: 0;
   }
}
.slider.next .thumbnail .item:nth-last-child(1){
   width: 0;
   overflow: hidden;
   opacity: 0;
   animation: showThumbnail 0.5s linear 1 forwards;
}
@keyframes showThumbnail{
   to {
      width: 150px;
      border-radius: 15px;
      opacity: 1;
   }
}
.slider.next .thumbnail{
   transform: translateX(150px);
   animation: transformThumbnail 0.5s linear 1 forwards;
}
@keyframes transformThumbnail{
   to {
      transform: translateX(0);
   }
}
@media (max-width: 768px){
   .slider.next .list .item:nth-child(1) > img{
      width: 100px;
      height: 200px;
      position: absolute;
      left: 40%;
      bottom: 50px;
      border-radius: 10px;
      animation: growImage 0.5s linear 1 forwards;
   }
   @keyframes showThumbnail{
      to {
         width: 100px;
         border-radius: 10px;
         opacity: 1;
      }
   }
   .slider.next .thumbnail{
      transform: translateX(100px);
      animation: transformThumbnail 0.5s linear 1 forwards;
   }
}


/* Action Previous */
.slider.prev .list .item:nth-child(2){
   z-index: 2;
}
.slider.prev .list .item:nth-child(2) > img{
   position: absolute;
   bottom: 0;
   left: 0;
   animation: shrinkImage 0.5s linear 1 forwards;
}
@keyframes shrinkImage{
   to {
      width: 150px;
      height: 250px;
      border-radius: 15px;
      left: 55%;
      bottom: 20px;
   }
}
.slider.prev .thumbnail .item:nth-child(1){
   width: 0;
   overflow: hidden;
   opacity: 0;
   animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.prev .list .item:nth-child(2) .title,
.slider.prev .list .item:nth-child(2) .name,
.slider.prev .list .item:nth-child(2) figure,
.slider.prev .list .item:nth-child(2) .desc,
.slider.prev .list .item:nth-child(2) .more {
   animation: hideDetail 0.5s 1s linear 1 forwards;
}
@keyframes hideDetail{
   to {
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
   }
}
@media (max-width: 768px){
   @keyframes shrinkImage{
      to {
         width: 100px;
         height: 160px;
         border-radius: 10px;
         left: 40%;
         bottom: 50px;
      }
   }
   @keyframes hideDetail{
      to {
         transform: translateY(-100px);
         filter: blur(50px);
         opacity: 0;
      }
   }
}

.slider.next .arrows button,
.slider.prev .arrows button{
   pointer-events: none;
}
