/* Products */

.hero-products{
   position: relative;
   overflow: hidden;
   padding: 0 65px;
}
.heading-products h2{
   color: #cbd5e1;
   font-size: 32px;
   text-align: center;
   padding-top: 100px;
}
.heading-products h1{
   font-size: 44px;
   text-align: center;
   margin: 10px 0;
   color: #38bdf8;
}
.heading-products p{
   max-width: 600px;
   text-align: center;
   margin: auto;
   margin-bottom: 10px;
   color: #64748b;
   line-height: 1.2;
}
@media (max-width: 768px) {
   .hero-products{
      padding: 0 30px;
   }
   .products-container{
      grid-template-columns: 1fr;
      gap: 20px;
   }
   .heading-products h2{
      font-size: 26px;
   }
   .heading-products h1{
      font-size: 28px;
      margin-top: -10px;
   }
   .heading-products p{
      font-size: 14px;
      margin-top: -10px;
   }
}


/* Search */
.search-box{
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
}
.search-box input{
   height: 50px;
   width: 500px;
   max-width: 100%;
   padding: 18px 25px;
   border: solid 2px #0f172a;
   outline: none;
   border-radius: 15px;
   background: #cbd5e1;
   box-shadow: 0 10px 30px rgba(0,0,0,.08);
   font-size: 16px;
}
.search-box input:hover{
   background: #0f172a;
   border: solid 2px #cbd5e1;
   color: #cbd5e1;
}
.no-result{
   display: none;
   text-align: center;
   margin-top: 20px;
   padding: 15px;
   border-radius: 10px;
   background: #cbd5e1;
   color: #c92727;
   font-weight: 600;
}
@media (max-width: 768px) {
   .search-box{
      margin-top: -20px;
      margin-bottom: 40px;
      height: 20px;
   }
   .search-box input{
      border-radius: 10px;
      font-size: 14px;
   }
}


/* Card Products */
.products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
   gap: 20px;
   max-width: 1200px;
   margin: auto;
   align-items: stretch;
}
.card-products{
   height: 100%;
   background: rgba(255,255,255,.75);
   border: 2px solid #cbd5e1;
   backdrop-filter: blur(20px);
   border-radius: 20px;
   overflow: hidden;
   transition: .4s;
   box-shadow: 0 8px 25px rgba(0,0,0,.08);
   display: flex;
   flex-direction: column;
}
.card-products:hover{
   transform: translateY(-8px);
}
.image-box img{
   width: 100%;
   height: 200px;
   object-fit: cover;
   transition: .5s;
}
.content{
   padding: 20px;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
.content h3{
   font-size: 22px;
   margin-bottom: 8px;
   color: #0f172a;
}
.content p{
   color:#0f172a;
   line-height: 1.6;
   margin-bottom: 18px;
   font-size: 14px;
}
.card-products .detail-btn{
   margin-top: auto;
   width: 100%;
   padding: 12px;
   border: none;
   border-radius: 12px;
   background: #2563eb;
   color: #cbd5e1;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
   transition: .3s;
}
.card-products .detail-btn:hover{
   color: #cbd5e1;
   background-color: #10881a;
}
@media (max-width: 768px){
   .card-products{
      border-radius: 15px;
   }
   .image-box img{
      height: 180px;
   }
   .content{
      padding: 15px;
   }
   .content h3{
      font-size: 18px;
   }
   .content p{
      font-size: 13px;
      line-height: 1.5;
   }
   .detail-btn{
      padding: 12px;
      font-size: 14px;
   }
}


/* Modal */
.modal{
   position: fixed;
   inset: 0;
   background: rgba(0,0,0,.7);
   display: none;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}
.modal.active{
   display: flex;
}
.modal-wrapper{
   position: relative;
   width: 100%;
   max-width: 600px;
}
.modal-box{
   max-height: 90vh;
   max-width: 90%;
   width: 600px;
   overflow-y: auto;
   /* background: #cbd5e1; */
   background: #ffffff;
   border-radius: 25px;
   padding: 30px;
}
@keyframes popup{
   from{
      transform: scale(.8);
      opacity: 0;
   }
   to{
      transform: scale(1);
      opacity: 1;
   }
}
.modal-box img{
   width: 100%;
   border-radius: 20px;
   height: 350px;
   object-fit: cover;
   margin-bottom: 20px;
}
.modal-box h2{
   margin-bottom: 15px;
   color: #0f172a;
}
.modal-box p{
   color: #0f172a;
   line-height: 1.8;
}
@media (max-width: 768px) {
   .modal{
      padding: 15px;
   }
   .modal-wrapper{
      width: 100%;
      max-width: 100%;
   }
   .modal-box{
      width: 100%;
      max-width: 100%;
      max-height: 70vh;
      padding: 20px;
      border-radius: 20px;
      overflow-y: auto;
   }
   .modal-box img{
      height: 200px;
   }
   .modal-box h2{
      font-size: 22px;
   }
   .modal-box p{
      font-size: 14px;
   }
}


/* Tombol Keluar */
.close-btn{
   position: absolute;
   top: 32px;
   right: 380px;
   width: 35px;
   height: 35px;
   border: none;
   border-radius: 50%;
   background: #cbd5e1;
   box-shadow: 0 5px 15px rgba(0,0,0,.2);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 28px;
   font-weight: 600;
   line-height: 1;
   cursor: pointer;
   z-index: 10;
}
.close-btn:hover{
   background-color: #c92727;
   color: #cbd5e1;
}
.close-btn span{
   margin-bottom: 6px;
}
@media (max-width: 768px){
   .close-btn{
      top: 20px;
      right: 15px;
      width: 36px;
      height: 36px;
      font-size: 22px;
   }
   .close-btn span{
      margin-top: 6px;
   }
}
